.myItem{
  border: none;
}

.category_image{
  width: 120px;
  height: 100px;
  border-radius: 50%;
}

.searchBarComp{
  background-color: #2874f0;
}

.catergory_section{
   box-shadow: 0px 3px 0px 0px lightcoral;
}

.price-text{
  font-weight: 600;
}

.cart-product-image{
  width: 20%;
  border-radius: 10%;
  /* height: 50%; */
}